
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Plantilla/Plantilla}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Lista de Libros</title>
</head>

<body>
<div layout:fragment="espaciocontenidohtml">
    <div class="container-fluid flex-grow-1 container-p-y">
        <!-- Botón para agregar un nuevo libro -->
        <div>
            <a th:href="@{/ejemplar/nuevoEjemplar}" class="btn btn-outline-primary">
                <i class="fa fa-plus"></i> Agregar Nuevo Ejemplar
            </a>
        </div>
        <!-- Tabla para mostrar los libros -->
        <div class="card">
            <h5 class="card-header">Lista de Ejemplares</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Numero</th>
                        <th scope="col">Estado</th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    <tr th:each="ejemplar: ${Lista}">
                        <td th:text="${ejemplar.id}"></td>
                        <td th:text="${ejemplar.numeroEjemplar}"></td>
                        <td th:text="${ejemplar.estadoEjemplar}"></td>
                        <td>
                            <!-- Enlace para editar -->
                            <a th:href="@{/ejemplar//editarEjemplar/{id}(id=${ejemplar.id})}"
                               class="btn btn-outline-success btn-sm">
                                Editar
                            </a>
                            <!-- Enlace para eliminar -->
                            <a th:href="@{/ejemplar//eliminarEjemplar/{id}(id=${ejemplar.id})}"
                               class="btn btn-outline-danger btn-sm">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
