
<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Plantilla/Plantilla}">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>Lista De Roles</title>

<meta name="description" content="" />

<!-- Favicon -->
</head>

<body>
	<div layout:fragment="espaciocontenidohtml">
		<div class="container-fluid flex-grow-1 container-p-y">
			<!-- Layout Demo -->
			<div>
				<a th:href="@{/nuevoRol}" class="btn btn-outline-primary"><i
					class="fa fa-plus"></i>Agregar Nuevo Libro</a>
			</div>
			<div class="card">
				<h5 class="card-header">Lista de Roles</h5>
				<div class="table-responsive text-nowrap">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">idRol</th>
								<th scope="col">Nombre</th>
							</tr>
						</thead>
						<tbody class="table-border-bottom-0">
							<tr th:each="roles: ${ListaRoles}">
								<td th:text="${roles.idRol}"></td>
								<td th:text="${roles.nombreRol}"></td>
								<td>
									<!-- Enlace para modificar --> 
									<a th:href="@{/editarRol/}+${roles.idRol}"
									class="btn btn-outline-success btn-sm"> Modificar </a> 
									<!-- Enlace para eliminar -->
									<a th:href="@{/eliminarRol/}+${roles.idRol}"
									class="btn btn-outline-danger btn-sm"> Eliminar </a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--/ Layout Demo -->
		</div>
	</div>
</body>
</html>
