
<!doctype html>


<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Plantilla/Plantilla}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Fluid - Layouts | Materio - Bootstrap Material Design
        Admin Template</title>

    <meta name="description" content="" />


</head>

<body>
<div layout:fragment="espaciocontenidohtml">
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-fluid flex-grow-1 container-p-y">
            <!--Basic Layout -->
            <div class="row">
                <div class="col-xl">
                    <div class="card mb-6">
                        <div
                                class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Registro de Autores</h5>
                            <small class="text-body float-end">Default label</small>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/guardarAutor}" th:object="${nuevoAutor}"
                                  method="post">
                                <div class="form-floating form-floating-outline mb-6">
                                    <input th:field="*{nombre}" type="text" class="form-control"
                                           id="nombre" placeholder="John Doe" /> <label
                                        for="basic-default-fullname">Nombre</label>
                                </div>
                                <div class="form-floating form-floating-outline mb-6">
                                    <input th:field="*{apellido}" type="text" class="form-control"
                                           id="apellido" placeholder="John Doe" /> <label
                                        for="basic-default-fullname">Apellido</label>
                                </div>

                                <div class="form-floating form-floating-outline mb-6">
                                    <input th:field="*{nacionalidad}" type="text" class="form-control"
                                           id="nacionalidad" placeholder="John Doe" /> <label
                                        for="basic-default-fullname">Nacionalidad</label>
                                </div>

                                <input type="hidden" th:field="*{id}">

                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                    <!--/ Layout Demo -->
                </div>
                <!-- / Content -->

                <!--/ Layout Demo -->
            </div>
        </div>
</body>
</html>
